* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    text-align: center;
    font-family: 'Satisfy', cursive;
    background: radial-gradient(circle, pink, white, blue);
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 50px 100px;
    height: 6rem;
}
.error {
    font-size: 13px;
    color: red;
    letter-spacing: 2px;
    position: absolute;
    top: -9px;
}
.errorHide {
    display: none;
}
.heading {
    font-size: 2.5rem;
    letter-spacing: 3px;
    margin: 60px;
}
.add, .deadline {
    background-color: beige;
    height: 50px;
    width: 50px;
    margin:0 15px;
    border-radius: 30%;
    border: solid black 1px;
    transition: all 1s;
}
button:hover {
    background-color: gray;
    border: solid 2px white;
    fill: beige;
}
.add {
    background-image: url("assets/icons/add_circle_black_24dp.svg");
    background-repeat: no-repeat; 
    background-size: 100% 100% ;
}   
.deadline {
    background-image: url("assets/icons/today_black_24dp.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}
#input, #date {
    height: 40px;
    width: 300px;
    margin:3px 0;
    padding: 0 6px;
    font-size: 16px;
    border-radius: 20%;
    border: solid black 1px;
}
#date {
    width: 170px;
    text-align: center;
    position: absolute;
    top: 24%;
    right:18%;
}
.dateDisable {
    display: none;
}
#input:focus {
    outline: none;
    border: 2px solid white;
    background-color:gray;
    color: white;
}
#input::placeholder {
    color:rgb(202, 55, 55);
}
#date:focus {
    outline: none;
    border: 2px solid white;
    background-color:gray;
    color: white;  
}
section {
    display: flex;
}
.item {
    list-style: none;
    font-size: 20px;
    margin: 10px 10px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between ;
}
.checked, .edit, .delete {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 20%;
    margin: 3px 0 0 6px;
    transition: all 0.5s ;
    cursor: pointer;
}
.checked {
    background-image: url("assets/icons/check_circle_outline_black_24dp.svg");
    background-repeat: no-repeat;
    background-size: 100% auto; 
}
.edit {
    background-image: url("assets/icons/mode_black_24dp.svg");
    background-repeat: no-repeat;
    background-size: 100% auto; 
}
.delete {
    background-image: url("assets/icons/delete_outline_black_24dp.svg");
    background-repeat: no-repeat;
    background-size: 100% auto; 
}
.lineThrought {
    text-decoration: line-through;
}
.unchecked {
    opacity: 0.2;
}
p {
    margin: 15px;
}
span {
    margin-left: 15px;
    color: brown;
}
.buttonsContainer {
    display: flex;
    align-content: end;
    opacity: 0;
    transform: translateX(400px);
}
.item:hover .buttonsContainer {
    opacity: 1;
    transform: translateX(0);
}
.lists, .listsOfDone {
    display: flex;
    align-content: space-evenly;
    flex-direction: column;
    width: 40%;
}
.container {
    display: flex;
    justify-content: space-evenly;
}
.toDo {
    letter-spacing: 2px;
    margin: 40px;
}
@media (max-width: 460px) {
    .heading {
        margin: 35px;
    }
    .form {
        height: 8rem;
        margin: 30px 5px;
        justify-content: space-between;
    }
    .input {
       width: 200px; ;
    }
    .error {
        top: -2px;
        left: 30%;
    }
    #date {
        position: absolute;
        top: 90px;
    }
    .container {
        flex-direction: column;align-items: center;
    } 
    .toDo {
       flex-direction: row; 
    }
    .lists, .listsOfDone {
        width: 100%;
    }
}